name: Deploy Web, Android

on:
  push:
    tags:
      - '*'

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: set up JDK 17
      uses: actions/setup-java@v4
      with:
        java-version: '17'
        distribution: 'temurin'
        cache: gradle

    - name: Setup Firebase
      # You may pin to the exact commit or the version.
      # uses: w9jds/setup-firebase@0ecec0c4363ca373e1d15fc74b565695ac9f3c09
      uses: w9jds/setup-firebase@v1.0.0
      with:
        # The token to use for authentication
        firebase_token: ${{ secrets.firebaseToken }}
        # Specify a specific project to use for all commands
        project_id: wesplit-bill

    - name: Grant execute permission for gradlew
      run: chmod +x gradlew
    - name: Run JVM Tests
      run: ./gradlew jvmTest
    - name: Deploy web app
      run: ./gradlew composeApp:jsBrowserProductionWebpack && ./gradlew composeApp:jsBrowserDistribution && firebase deploy --only hosting
    - name: Create Google Services JSON File
      env:
        GOOGLE_SERVICES_JSON: ${{ secrets.GOOGLE_SERVICE_JSON }}
      run: echo $GOOGLE_SERVICES_JSON | base64 -di > ./composeApp/google-services.json
    - name: Create Service account JSON File
      env:
        SERVICE_ACC: ${{ secrets.SERVICE_ACCOUNT_JSON }}
      run: echo $SERVICE_ACC > ./service_acc.json
    - name: Build android app
      env: # Or as an environment variable
        WS_ALIAS: ${{ secrets.WS_ALIAS }}
        WS_KEYSTORE_PWD: ${{ secrets.WS_KEYSTORE_PWD }}
        WS_KEY_PWD: ${{ secrets.WS_KEY_PWD }}
      run: ./gradlew composeApp:bundleRelease
    - name: Deploy to g.play internal track
      uses: lukasa1993/android-upload-google-play@v2.0.0
      with:
        service-account: ./service_acc.json
        package-name: app.wesplit
        release-file: ./composeApp/build/outputs/bundle/release/composeApp-release.aab
        track: internal
        status: complete
        mapping-file: ./composeApp/build/outputs/mapping/release/mapping.txt
